.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 75px;
  border: none;
  border-radius: 25px;
  background-color: rgba(250, 125, 125, 0.315);
  cursor: pointer;
}

.next-btn:hover {
  background-color: rgba(245, 87, 87, 0.664);
}

.next-btn:active {
  background-color: rgba(243, 28, 28, 0.664);
}

.pause-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 75px;
  border: none;
  border-radius: 25px;
  background-color: #4dda6e52;
  transition: background-color ease 0.5s;
  cursor: pointer;
}

.pause-btn:hover {
  background-color: #033302c0;
}

.pause-btn:active {
  background-color: #b9ebc8c0;
}

button:disabled {
  background-color: rgb(218, 218, 218);
  cursor: default;
}

button:disabled:hover {
  background-color: rgb(218, 218, 218);
}
