.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 85px;
  border: none;
  background-color: #ff4c4cc0;
  border-radius: 25px;
  cursor: pointer;
}

.play-btn:hover {
  background-color: #f72525c0;
}

.play-btn:active {
  background-color: #f38585c0;
}
